
@font-face {
    font-family: 'cate_icon';
    src: url(../fonts/cate4.woff) format("woff"), url(../fonts/cate4.otf?v4); }
@font-face {
    font-family: 'base_icon';
    src: url(../fonts/base14.woff) format("woff"), url(../fonts/base14.otf); }
